.canvasContainer {
  padding-top: 20vh;
  max-width: 350px;
  max-height: 350px;
  width: 80vw;
  height: 80vw;
  margin: auto;
}

:host ::ng-deep .canvas {
  max-width: 350px;
  max-height: 350px;
  width: 80vw;
  height: 80vw;
  margin: auto;
}
.u_float-left {
  float: left;
}
.u_float-right {
  float: right;
}
.spin_wheel {
  cursor: pointer;
}

.valueInfo {
  font-size: 2.5em;
  padding-top: 15px;
  padding-left: 25px;
}

